@tailwind base;
@tailwind components;
@tailwind utilities;




.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.shimmer-card{
    margin: 20px;
    width:200px;
    height:400px;
    background-color: #f0f0f0;
}


 

/* 
,
::after,
::before{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
} */

/* header components starts 
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.logo{
    width: 100px;
    height: 100px;

}

.nav-items > ul {
    font-size: 21px;
    display: flex;
    list-style-type: none;
    
}

.nav-items >ul >li {
    padding: 10px;
    margin: 10px;
}

/* header components ends 


/* Body components starts 
.body{
    margin-left: 30px;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    /* height: 300px; 
    
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: inherit;

}

.filter-btn{
    margin: 10px;
    padding: 2px;
    cursor: pointer;
}

/* shimmer UI 

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.shimmer-card{
    margin: 20px;
    width:200px;
    height:400px;
    background-color: #f0f0f0 ;
}

.login{
    padding: 0 20px;
    cursor: pointer;
    height: 30px;
    margin-top: 17px;
    margin-right: 10px;
    border-radius: 20%;

}

.filter{
    display: flex;
}

/* res menu 

.res-headers{
    display: flex;
    
}

.res-rating{
    position: absolute;
    right:0;
    margin:8px;
    padding:5px;
    height:16%;
    color:green;
    border: 1px solid #686161;
    border-radius: 5px;
}

.res-rating >h4{
    color: #686161;
}

.res-deliveryInfo{
    display: flex;
}

.res-deliveryInfo >p{
    margin: 25px 10px;
    font-weight: 100;
}

/* User card 

.user-card{
    width: 45%;
    border: 1px solid black;
    padding: 10px;

}
 */
